{% extends "master.html" %}

{% block title %}
    Event Registration
{% endblock %}


{% block content %}

{% include "navbar.html" %}

{% if user.is_authenticated %}

<br>
<br>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-info">
                <div class="card text-center">
                    <div class="card-header">
                        Event Title:  {{ event.title }}
                    </div>
                    <br>
                    <div class="card-body">
                        <form method="POST" action="/events/add_registration/">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ event.id }}">
                            <input type="hidden" name="event_title" value="{{ event.title }}">
                            <input type="hidden" name="user_name" value="{{ user.username }}">
                            <input type="hidden" name="slot" value="{{ event.slot }}">

                            <p class="card-text">Event ID: {{ event.id }}</p>
                            <p class="card-text">User Name: {{ user.username }}</p>
                            <p class="card-text">Available Slot: {{ event.slot }}</p>
                            <br>

                            {% if event.slot > 0 %}
                                <button type="submit" class="btn btn-primary">Register</button>

                            {% else %}
                            
                                <p class="btn btn-danger">Sorry, There is no slot for registration!</p>

                            
                                
                            {% endif %}
                            
                            
                        </form>
                    </div>
                </div>
</div>
</div>
</div>
</div>


{% else %}

  <h1>Sorry! You must be logged in to view this page...</h1>
  <a class="nav-link" href="/members/login_user/">Login</a>

{% endif %}

{% endblock %}