{% extends "master.html" %}

{% block title %}
    Home
{% endblock %}


{% block content %}

{% include "navbar.html" %}




{% if user.is_authenticated and user.username == "admin"%}

<div class="container text-center mt-4">
    <a href="/add_event/"><button class="btn btn-primary">Add Event</button></a>
</div>
{% endif %}

<h1 class="text-center mt-4">List of Events</h1>

<div class="container">
    <div class="mb-3">
        <label for="searchTitle" class="form-label">Search Title:</label>
        <input type="text" class="form-control" id="searchTitle">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Event Date</th>
                                <th>Event Time</th>
                                <th>Location</th>
                                <th>Date of Creation</th>
                                {% if user.is_authenticated and user.username == "admin"%}
                                <th>Action</th>
                                {% endif %}
                                {% if user.is_authenticated and user.username != "admin"%}
                                <th>Action</th>
                                {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                            {% for e in event %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ e.title }}</td>
                                    <td>{{ e.description }}</td>
                                    <td>{{ e.event_date }}</td>
                                    <td>{{ e.event_time }}</td>
                                    <td>{{ e.location_name }}</td>
                                    <td>{{ e.created_at }}</td>
                                    {% if user.is_authenticated and user.username == "admin"%}
                                    <td>
                                        <a href="/delete-event/{{e.id}}" class="btn btn-danger md-sm">Delete</a>
                                        <a href="/update-event/{{e.id}}" class="btn btn-success md-sm">Update</a>
                                    </td>
                                    {% endif %}


                                    {% if user.is_authenticated and user.username != "admin"%}
                                    <td>

                                        <a href="/events/dashboard/{{e.id}}" class="btn btn-success md-sm">Register Event</a>
                                    </td>
                                    {% endif %}



                                        
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






<script>
    // Add JavaScript for filtering tasks based on the first character of the title
    document.getElementById('searchTitle').addEventListener('input', function () {
        var searchValue = this.value.toLowerCase();
        var rows = document.querySelectorAll('tbody tr');

        rows.forEach(function (row) {
            var title = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
            
            // Check if the first character of the title matches the first character of the search value
            if (title.startsWith(searchValue)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
</script>



{% endblock %}