{% extends "master.html" %}

{% block title %}
    Add Student
{% endblock %}


{% block content %}

{% include "navbar.html" %}
<br>
<p>Logged in User: {{ user }}</p>
{% if user.is_authenticated and user.username == "admin"%}

<h1 class="mt-4 text-center">Update Event</h1>




<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card bg-info">
                <div class="card-body m-4">
                    <form action="/do-update-event/{{event.id}}" method="POST">
                        {% csrf_token %}




                        <div class="mb-3">
                            <label for="title">Title</label>
                            <input value="{{ event.title }}" name="title" type="text" name="title" id="title" class="form-control" placeholder="Enter Your Event Title" required>
                        </div>

                        <div class="mb-3">
                            <label for="description">Description</label>
                            <textarea name="description" id="description" rows="5"  class="form-control" placeholder="Enter Your Event Description" required>{{ event.description }}</textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="event_date">Event Date</label>
                            <input value="{{ event.event_date|date:'Y-m-d' }}" name="event_date" type="date" name="event_date" id="event_date" class="form-control" placeholder="Enter Event Date" required>
                        </div>
                        <div class="mb-3">
                            <label for="event_time">Event Time</label>
                            <input value="{{ event.event_time|time:'H:i' }}" name="event_time" type="time" name="event_time" id="event_time" class="form-control" placeholder="Enter Event Time" required>
                        </div>
                        <div class="mb-3">
                            <label for="location_name">Location</label>
                            <input value="{{ event.location_name }}" name="location_name" type="text" name="location_name" id="location_name" class="form-control" placeholder="Enter Your Location" required>
                        </div>



                        <div class="container text-center mt-4">
                            <button class="btn btn-success">Update Event</button>
                        </div>
                        

                    </form>  
                     
                </div>         
            </div>
        </div>
    </div>
</div>


{% else %}

<h1>Sorry! You must be logged in as admin to view this page...</h1>
<a class="nav-link" href="/members/login_user/">Login</a>

{% endif %}


{% endblock %}